select { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt} 
input { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7.5pt} 
A:link { TEXT-DECORATION: none; ; color: #000000} 
A:visited { TEXT-DECORATION: none ; color: #000000} 
A:hover { TEXT-DECORATION: underline; ; color: #000000} 
.TitularSec02 { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #FFFFFF} 
.TextCont01 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #333333; text-decoration: none} 
.TextCont01negrita { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; color: 333333; text-decoration: none}
.TextAuxPeu01 { font-family: Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; font-weight: normal; color: #CCCCCC; text-decoration: none }
.TextContDer01negrita { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; color: #EDF3F2; text-decoration: none } 
.TextContDer01 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #EDF3F2; text-decoration: none } 
.TextContDer02negrita { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; color: #EDF3F2; text-decoration: none } 
.TextContDer03negrita { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; color: #005B50; text-decoration: none } 
.TextContDer02 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #333333; text-decoration: none} 
.TitularSec03 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; color: #EDF3F2} 